@import url(../../styles/nav.css);
@import url(../../styles/global.css);
@import url(../../styles/animations.css);

.aboutMeMain {
  padding: 5rem 4rem;
}

@media (width<60em) {
  .aboutMeMain {
    padding: 5rem 0;
  }
}

.aboutMeMain header {
  display: flex;
  padding: 2rem 4rem;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (width<60em) {
  .aboutMeMain header {
    padding: 2rem;
  }
}

.aboutMeMain header .imgAboutMe{
  display: flex;
  border-radius: 100%;
}

.aboutMeMain header .imgAboutMe img {
  border-radius: 100%;
  width: 30rem;
  box-shadow: 0 0 36px var(--cl-electric-lavender), 10px 0 26px var(--cl-midnight-violet);
}

@media (width < 80em) {
  .aboutMeMain header .imgAboutMe img {
    width: 18rem;
  }
}

.aboutMeMain header .textAboutMe {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  font: 600 1.5rem/1.1 var(--ff-plus-jakarta);
  color: var(--cl-soft-white);
}

.aboutMeMain > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--cl-soft-white);
  padding: 2rem 4rem;
}

@media (width<60em) {
  .aboutMeMain > div {
    padding: 1rem 2rem;
  }
}

.aboutMeMain > div p {
  font: 600 1.3rem/1.5 var(--ff-plus-jakarta);
}

@media (width < 80em) {
  .aboutMeMain header .textAboutMe {
    font: 600 1.2rem/1.1 var(--ff-plus-jakarta);
  }

  .aboutMeMain > div p {
    font: 600 1.1rem/1.5 var(--ff-plus-jakarta);
  }
}