.reception {
  position: relative;

  height: 100%;
  align-items: center;
  gap: 4rem;
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  padding: 6rem 2rem;

  overflow: hidden;
}

.reception .gabrielImg1 {
  position: relative;

  width: 30rem;
  border-radius: 100%;

  box-shadow: 0 0 36px var(--cl-electric-lavender), 10px 0 26px var(--cl-midnight-violet);

  animation: UpMedium 1s ease-in-out both;
}

.reception img[src*="/gabriel-ia.png"]:hover {
  transform: scale(1.03);
  box-shadow: 0 0 46px var(--cl-electric-lavender), 0 0 36px var(--cl-midnight-violet);
}

@media (width<80em) {
  .reception .gabrielImg1 {
    width: 20rem;
  }
}

.reception .gabrielImg1 img[src*="/gabriel-ia.png"] {
  transition: all ease-in-out 500ms;
  border-radius: 100%;
}

.reception .textReception {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  position: relative;
  color: var(--cl-soft-graphite);
}

.reception .textReception h2 {
  color: var(--cl-pure-white);
  animation: UpMedium 1s .5s ease-in-out both;
}

.reception .textReception h3 {
  animation: UpMedium 1s .8s ease-in-out both;
}

.reception .textReception p {
  font: 500 1rem var(--ff-plus-jakarta);
  animation: UpMedium 1s 1s ease-in-out both;
}

.textReception a {
  display: inline-block;
  color: var(--cl-vivid-orchid);
  text-decoration: underline;
  animation: UpMedium 1s 1.2s ease-in-out both;
}

img[src*="/logo-javascript.svg"]{
  position: absolute;
  transform: translate(-50%,-50%) rotate(7deg);
  z-index: -1;
  width: 18rem;
  animation: Up 1s .5s ease-in-out both;
}

@media (width < 80em) {
  img[src*="/logo-javascript.svg"]{
    width: 12rem;
  }
}

img[src*="/logo-react.svg"]{
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%,-20%);
  z-index: -3;
  width: 16rem;
  animation: Up 500ms 1s ease-in-out both;
}

@media (width < 80em) {
  img[src*="/logo-react.svg"]{
    left: 100%;
    top: 100%;
    transform: translate(-50%,-50%);
    width: 46%;
  }
}

img[src*="/logo-vscode.svg"]{
  position: absolute;
  transform: rotate(-8deg);
  top: -200%;
  left: 56%;
  width: 5.5rem;
  animation: Up 1s .5s ease-in-out both;
}

@media (width < 80em) {
  img[src*="/logo-vscode.svg"]{
    display: none;
  }
}

img[src*="/logo-html5.svg"]{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20rem;
  animation: ToLeft 1s .8s ease-in-out both;
}

@media (width < 80em) {
  img[src*="/logo-html5.svg"]{
    display: none;
  }
}